In [1]:
import pandas as pd
from ingest import sheet

In [2]:
# this should be a download of the inventory sheet
gmcd_file_path = 'gcmd_convert_raw.xlsx'
gcmd_raw_file = pd.read_excel(gmcd_file_path, sheet_name = None)

In [3]:
# this should be a text file with a copy/pasted column from the inventory sheet
column_file_path = 'gcmd_column.txt'
with open(column_file_path, 'r') as f:
    column = [line.rstrip() for line in f]

In [4]:
column

['GCMD Measurements/Variables UUID - internal 4-digit codes',
 '',
 '',
 '1411, 1400, 1414',
 '',
 '',
 '1399, 1509, 1510',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1097, 2250, 2885',
 '1117, 1130, 1229, 1256, 1502, 2900',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '3749, 3744',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1184, 1217, 1115, 1270',
 '2903, 3722',
 '',
 '',
 '',
 '',
 '1360, 1377, 1368, 1228, 1298',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1247, 1256, 3731',
 '',
 '',
 '1422, 1113, 1114, 1110',
 '',
 '1414, 3744, 3749',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1384, 1517, 3744, 3749',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1411, 1414',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1298, 1331, 1401',
 '',
 '',
 '',
 '',
 '1350, 1513',
 '',
 '1385, 1351, 1360, 3744, 3746',
 '',
 '1130, 1117, 1114, 1113',
 '',
 '',
 '1400, 1411',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1130, 1123',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1428, 1414, 1401',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '2715, 1217, 1184',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1130, 1126, 1127',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '1332, 1305, 1329',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [5]:
gcmd_raw_file.keys()

dict_keys(['Limited Fields', 'NASA Campaigns', 'Platforms', 'Instruments', 'Deployments', 'IOPSE', 'CampDepPlatfmInstmnt', 'Partner Orgs', 'Highlighting Key', 'GCMD Phenomena', 'GCMD Phenomena - New', 'GCMD Phenomena - No Services', 'GCMD Instruments', 'GCMD Platforms', 'GCMD Projects', 'Other Platforms', 'Old Instrument List', 'Old Aircraft List', 'Old CampDepPlatInst', 'Database Tables'])

In [6]:
mapping_columns = {
    "gcmd": {
        "Internal 4-digit code": "ignore_code",
        "Category": "category",
        "Topic": "topic",
        "Term": "term",
        "Variable Level 1": "variable_1",
        "Variable Level 2": "variable_2",
        "Variable Level 3": "variable_3",
        "UUID": "gcmd_uuid"
  },
}

In [7]:
gcmd_new = sheet(
    excel_data=gcmd_raw_file, 
    remap_dict=mapping_columns,
    sheet_name='GCMD Phenomena - No Services',
    remap_name='gcmd',
    header_row=5, 
    data_row=6
)
gcmd_old = sheet(
    excel_data=gcmd_raw_file, 
    remap_dict=mapping_columns,
    sheet_name='GCMD Phenomena',
    remap_name='gcmd',
    header_row=5, 
    data_row=6
)

In [8]:
gcmd_old

5,ignore_code,category,topic,term,variable_1,variable_2,variable_3,NaN,gcmd_uuid
6,1000,EARTH SCIENCE,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available,e9f67a66-e9fc-435c-b720-ae32a2c3d8f5
7,1001,EARTH SCIENCE,AGRICULTURE,AGRICULTURAL AQUATIC SCIENCES,AQUACULTURE,Information Not Available,Information Not Available,Information Not Available,8916dafb-5ad5-45c6-ab64-3500ea1e9577
8,1002,EARTH SCIENCE,AGRICULTURE,AGRICULTURAL AQUATIC SCIENCES,FISHERIES,Information Not Available,Information Not Available,Information Not Available,c7112a64-be39-414a-9125-f63ab44ecb5b
9,1003,EARTH SCIENCE,AGRICULTURE,AGRICULTURAL AQUATIC SCIENCES,TEST,Information Not Available,Information Not Available,Information Not Available,0916afef-a0b7-4ecd-85ba-cc24070470a7
10,1004,EARTH SCIENCE,AGRICULTURE,AGRICULTURAL AQUATIC SCIENCES,Information Not Available,Information Not Available,Information Not Available,Information Not Available,ca227ff0-4742-4e51-a763-4582fa28291c
...,...,...,...,...,...,...,...,...,...
3022,4016,EARTH SCIENCE,TERRESTRIAL HYDROSPHERE,WATER QUALITY/WATER CHEMISTRY,WATER QUALITY INDEXES,Information Not Available,Information Not Available,Information Not Available,f2130ca3-3587-4312-b6d4-138456b5ea78
3023,4017,EARTH SCIENCE,TERRESTRIAL HYDROSPHERE,WATER QUALITY/WATER CHEMISTRY,Information Not Available,Information Not Available,Information Not Available,Information Not Available,8c02f5d1-ce86-4bf5-84d5-b3496cdba6ad
3024,4018,EARTH SCIENCE,TERRESTRIAL HYDROSPHERE,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available,885735f3-121e-4ca0-ac8b-f37dbc972f03
3025,1000,EARTH SCIENCE,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available,e9f67a66-e9fc-435c-b720-ae32a2c3d8f5
3026,9999,EARTH SCIENCE SERVICES,MODELS,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available

In [9]:
gcmd_new

5,ignore_code,category,topic,term,variable_1,variable_2,variable_3,NaN,gcmd_uuid
6,1000,EARTH SCIENCE,AGRICULTURE,AGRICULTURAL AQUATIC SCIENCES,AQUACULTURE,Information Not Available,Information Not Available,Information Not Available,8916dafb-5ad5-45c6-ab64-3500ea1e9577
7,1001,EARTH SCIENCE,AGRICULTURE,AGRICULTURAL AQUATIC SCIENCES,FISHERIES,Information Not Available,Information Not Available,Information Not Available,c7112a64-be39-414a-9125-f63ab44ecb5b
8,1002,EARTH SCIENCE,AGRICULTURE,AGRICULTURAL AQUATIC SCIENCES,ICE STUPA,Information Not Available,Information Not Available,Information Not Available,8495b76a-16ba-418c-bbb9-3c6bcfb12aba
9,1003,EARTH SCIENCE,AGRICULTURE,AGRICULTURAL AQUATIC SCIENCES,Information Not Available,Information Not Available,Information Not Available,Information Not Available,ca227ff0-4742-4e51-a763-4582fa28291c
10,1004,EARTH SCIENCE,AGRICULTURE,AGRICULTURAL CHEMICALS,FERTILIZERS,Information Not Available,Information Not Available,Information Not Available,18a8197e-3a3f-408c-9c51-e9fe89dd6b45
...,...,...,...,...,...,...,...,...,...
3083,4077,EARTH SCIENCE,TERRESTRIAL HYDROSPHERE,WATER QUALITY/WATER CHEMISTRY,WATER QUALITY INDICES,TROPHIC STATE INDEX,Information Not Available,Information Not Available,4fbe9a29-e3f5-4e1f-9dcb-99b79485d3b2
3084,4078,EARTH SCIENCE,TERRESTRIAL HYDROSPHERE,WATER QUALITY/WATER CHEMISTRY,WATER QUALITY INDICES,Information Not Available,Information Not Available,Information Not Available,f2130ca3-3587-4312-b6d4-138456b5ea78
3085,4079,EARTH SCIENCE,TERRESTRIAL HYDROSPHERE,WATER QUALITY/WATER CHEMISTRY,Information Not Available,Information Not Available,Information Not Available,Information Not Available,8c02f5d1-ce86-4bf5-84d5-b3496cdba6ad
3086,4080,EARTH SCIENCE,TERRESTRIAL HYDROSPHERE,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available,885735f3-121e-4ca0-ac8b-f37dbc972f03
3087,4081,EARTH SCIENCE,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available,Information Not Available,e9f67a66-e9fc-435c-b720-ae32a2c3d8f5

In [10]:
print(f'there are at least {3261-3021} new entries')

there are at least 240 new entries

In [11]:
gcmd_old[['ignore_code','gcmd_uuid']]

5     ignore_code                             gcmd_uuid
6            1000  e9f67a66-e9fc-435c-b720-ae32a2c3d8f5
7            1001  8916dafb-5ad5-45c6-ab64-3500ea1e9577
8            1002  c7112a64-be39-414a-9125-f63ab44ecb5b
9            1003  0916afef-a0b7-4ecd-85ba-cc24070470a7
10           1004  ca227ff0-4742-4e51-a763-4582fa28291c
...           ...                                   ...
3022         4016  f2130ca3-3587-4312-b6d4-138456b5ea78
3023         4017  8c02f5d1-ce86-4bf5-84d5-b3496cdba6ad
3024         4018  885735f3-121e-4ca0-ac8b-f37dbc972f03
3025         1000  e9f67a66-e9fc-435c-b720-ae32a2c3d8f5
3026         9999             Information Not Available

[3021 rows x 2 columns]

In [12]:
mapping_old = {'':''}
for index, row in gcmd_old.iterrows():
    code = str(row['ignore_code'])
    uuid = row['gcmd_uuid']
    mapping_old[code]=uuid
    
mapping_new = {'':''}
for index, row in gcmd_new.iterrows():
    code = str(row['ignore_code'])
    uuid = row['gcmd_uuid']
    mapping_new[uuid]=code

In [13]:
mapping_old['1000']

'e9f67a66-e9fc-435c-b720-ae32a2c3d8f5'

In [14]:
mapping_new['e9f67a66-e9fc-435c-b720-ae32a2c3d8f5']

'4081'

In [15]:
column.pop(0)

'GCMD Measurements/Variables UUID - internal 4-digit codes'

In [16]:
new_column = []
for line in column:
    line_parsed = [item.strip().replace('"','') for item in line.split(',')]
    line_uuids= [mapping_old[old_code] for old_code in line_parsed]
    line_new_codes = [mapping_new[old_uuid] for old_uuid in line_uuids]
    line_new_text = ', '.join(line_new_codes)
    new_column.append(line_new_text)

In [17]:
with open('column_new.txt', 'w') as f:
    f.writelines("%s\n" % place for place in new_column)