# Imports

In [1]:
import pandas as pd
import json
import validate
from general import many_to_many, many_cols
import ingest
import clean

# Pull Data into Pandas

In [2]:
data = ingest.main()

In [3]:
excel_data = data['excel_data']
db = data['database']

# Cleaning

In [4]:
db = clean.remove_NaN_columns(db)

In [5]:
db = clean.strip_all_columns(db)

['iopse_id', 'event_type', 'foriegn_campaign_short_name', 'foriegn_deployment_short_name', 'description', 'region_description', 'published_list', 'reports', 'reference_file']

In [6]:
db['gcmd_phenomena']['code'] = db['gcmd_phenomena']['code'].apply(lambda x: str(x))

# Short Name Supplementation

In [7]:
# make unique shortname by combining the campaign name and the table sub short name

db['deployment']['short_name'] = db['deployment']['foriegn_campaign_short_name']+'_'+db['deployment']['deployment_id']

# this is not a true short_name
db['iopse']['iop_short_name'] = db['iopse']['foriegn_campaign_short_name']+'_'+db['iopse']['iopse_id']

db['flight'] = many_to_many(db, 'linking', 'table_instrument', keep_all=True)
db['flight']['foriegn_deployment_short_name'] = db['flight']['foriegn_campaign_short_name']+'_'+db['flight']['foriegn_deployment']

# Find Matching Deployments for IOPSE

In [8]:
db['iopse']['deployment_short_name'] = 'No Matches'

for row in range(len(db['iopse'])):
    iop_start = db['iopse'].iloc[row]['start_date']
    iop_end = db['iopse'].iloc[row]['end_date']
    iop_camp = db['iopse'].iloc[row]['foriegn_campaign_short_name']
    
    campaign_filter = db['deployment']['foriegn_campaign_short_name'].apply(lambda short_name: short_name == iop_camp)
    possible_campaigns = db['deployment'][campaign_filter]
    
    start_filter = possible_campaigns['start_date'].apply(lambda dep_start: validate.vali_date(dep_start, iop_start))
    end_filter = possible_campaigns['end_date'].apply(lambda dep_end: validate.vali_date(iop_end, dep_end))
    
    matching_deployments = list(possible_campaigns[start_filter*end_filter]['short_name'])
    if len(matching_deployments)>1:
        print(f"error on {db['iopse'].iloc[row]}")
    elif len(matching_deployments)==1:
        matching_deployments = matching_deployments[0]
    else:
        matching_deployments = 'None Found'
    db['iopse']['deployment_short_name'].iloc[row]=matching_deployments

/home/carson/anaconda3/envs/admg/lib/python3.8/site-packages/pandas/core/computation/expressions.py:177: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  warnings.warn(

# Many to Many Creation

In [9]:
main_table_names = ['campaign', 'platform', 'instrument', 'deployment', 'iopse']

In [10]:
for table in main_table_names:
    print(table)
    for column in [col for col in db[table].keys() if isinstance(col,str) and 'table' in col]:
        new_table_name = f"{table}_to_{column.replace('table_','')}"
        db[new_table_name]=many_to_many(db, table, column)
        print(f'   {new_table_name} created')

campaign
   campaign_to_focus_area created
   campaign_to_season created
   campaign_to_platform_type created
   campaign_to_gcmd_phenomenas_uuid created
   campaign_to_repository created
   campaign_to_partner_org created
   campaign_to_gcmd_project created
platform
   platform_to_gcmd_platform_uuid created
instrument
   instrument_to_gcmd_instrument created
   instrument_to_instrument_type created
   instrument_to_measurement_keywords_uuid created
   instrument_to_geophysical_concept created
   instrument_to_repository created
   instrument_to_measurement_region created
deployment
   deployment_to_geographical_region created
   deployment_to_platform created
iopse

# Validation

### Short Name Duplicates

In [11]:
for table_name in db.keys():
    if 'short_name' in db[table_name].keys():
        print(table_name)
        duplicates = validate.find_duplicates(db, table_name, 'short_name')

        print(f'    {duplicates}')

platform_type
    []
aircraft_type
    []
home_base
    []
repository
    []
focus_area
    []
season
    []
instrument_type
    ['insitulaboratorychemicalmetersanalyzers']
measurement_region
    []
geographical_region
    []
geophysical_concept
    ['informationnotavailable', 'ocean']
campaign
    ['informationnotavailable']
platform
    []
instrument
    ['atlas']
deployment
    []
gcmd_instrument
    ['atlas', 'informationnotavailable', 'wcr', nan, 'epic', 'opc', 'gnssreceiver', 'cris', 'aa', 'iris', 'particlespectrometers', 'ssies', 'icecube', 'aps']
gcmd_platform
    ['kingair', 'informationnotavailable', 'goes10', 'goes11', 'goes12', 'goes13', 'goes14', 'goes15', 'goes16', 'goes1', 'goes2', 'goes3', 'goes4', 'goes5', 'goes6', 'goes7', 'goes8', 'goes9', 'environmentalmodeling']
gcmd_project
    ['afsisclimate', 'camp', 'informationnotavailable', 'iodp', 'landsat7', 'mcmurdopredatorprey', 'notapplicable']
partner_org
    []

### Foriegn Key Links

### Campaign

In [12]:
pd.set_option('display.max_rows', 500)

In [13]:
errors = validate.foriegn_keys(db, 
                                data_table='campaign_to_gcmd_project', 
                                data_index='campaign', 
                                data_column='gcmd_project', 
                                foriegn_table='gcmd_project', 
                                foriegn_column='uuid')
errors

    campaign                          gcmd_project suggestions
2     ACEPOL  e0a48b3c-ab3d-4331-b992-367352d5c09c          []
16      C3VP                                   NID          []
17  CalWater                                   NID          []
77  ACTIVATE                                   TBD          []
78   CAMP2Ex                                   TBD          []
79    DCOTSS                                   TBD          []
80   Delta-X                                   TBD          []
83   IMPACTS                                   TBD          []
84    S-MODE                                   TBD          []
90     ARISE                    NOT LISTED IN GCMD          []

In [14]:
errors = validate.foriegn_keys(db, 
                                data_table='campaign_to_focus_area', 
                                data_index='campaign', 
                                data_column='focus_area', 
                                foriegn_table='focus_area', 
                                foriegn_column='short_name')
errors

,campaign,focus_area,suggestions
10,ACT-America,Climate Variability and Change,[Climate Variability & Change]
39,CLAMS,Earth Surface and Interior,[Earth Surface & Interior]
40,CLASIC07,Water & Energy Cycle,[Global Water & Energy Cycle]
82,ORACLES,Global Water and Energy Cycles,[Global Water & Energy Cycle]
102,TOGA COARE,Atmospheric Dynamics,[]
131,CASIE,Airborne Science,[]
133,CLPX II,Water & Energy Cycle,[Global Water & Energy Cycle]
134,CLPX III,Water & Energy Cycle,[Global Water & Energy Cycle]
137,DEVOTE,Airborne Science,[]
140,High Winds,Water & Energy Cycle,[Global Water & Energy Cycle]
149,Methane Sounder,Carbon Cycles and Ecosystems,[Carbon Cycle & Ecosystems]
204,CARVE-CAL,Climate Variability & Change (as well as the A...,[]
207,CARVE-CAN,Climate Variability & Change (as well as the A...,[]
250,SMAPVEX08,Water & Energy Cycle,[Global Water & Energy Cycle]
251,SMAPVEX12,Water & Energy Cycle,[Global Water & Energy Cycle]
252,SMAPVEX15,Water & Energy Cycle,[Global Water & Energy Cycle]
253,SMAPVEX16,Water & Energy Cycle,[Global Water & Energy Cycle]
255,SMEX02,Water & Energy Cycle,[Global Water & Energy Cycle]
256,SMEX03,Water & Energy Cycle,[Global Water & Energy Cycle]
257,SMEX04/NAME,Water & Energy Cycle,[Global Water & Energy Cycle]
258,SMEX05/POLEX,Water & Energy Cycle,[Global Water & Energy Cycle]

In [15]:
errors = validate.foriegn_keys(db, 
                                data_table='campaign_to_season', 
                                data_index='campaign', 
                                data_column='season', 
                                foriegn_table='season', 
                                foriegn_column='short_name')
errors

    campaign                             season suggestions
106  Delta-X                  Overshooting tops          []
107  Delta-X                    deep convection          []
108  Delta-X  lower stratospheric air chemistry          []
119    ARISE          boreal summer boreal fall          []

In [16]:
errors = validate.foriegn_keys(db, 
                                data_table='campaign_to_platform_type', 
                                data_index='campaign', 
                                data_column='platform_type', 
                                foriegn_table='platform_type', 
                                foriegn_column='short_name')
errors

,campaign,platform_type,suggestions
1,ABoVE,Ground-based Platforms,"[Land-based Platforms, Water-based Platforms]"
10,ACT-America,Ground-based Platforms,"[Land-based Platforms, Water-based Platforms]"
26,ATom,Model Output,[]
31,BOREAS,Model Output,[]
32,BOREAS,Satellite,[Satellites]
33,BROMEX,Ground-based Platforms,"[Land-based Platforms, Water-based Platforms]"
47,CARVE,Model Output,[]
52,CLAMS,In-situ Ground-based Platforms,[]
55,CLASIC07,In-situ Ground-based Platforms,[]
63,CPEX,In-situ Ground-based Platforms,[]
64,CPEX,Model,[Models]
71,DISCOVER-AQ,In-Situ Ground Based Platforms,[]
73,FIFE,In-situ Ground-based Platforms,[]
78,GOES-R PLT,Satellite,[Satellites]
83,HS3,remote sensing,[]
84,HS3,in-situ,[]
86,HS3,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
88,HYMEx,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
90,IceBridge,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
91,ICEPOP,Ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
93,IFLoodS,Ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
100,IPHEx,Model Output,[]
102,KORUS-AQ,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
105,LITE,Lidar,[]
122,OMG,In-Situ,[]
123,OMG,Remote Sensing,[]
134,SEAC4RS,Ground stations,[]
137,SEAC4RS,Model outputs,[]
156,ACTIVATE,Model,[Models]
159,CAMP2Ex,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
161,DCOTSS,satellite,[Satellites]
162,DCOTSS,model,[Models]
163,DCOTSS,,[]
166,Delta-X,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
167,Delta-X,model output,[]
170,FIREx-AQ,Model,[Models]
171,FIREx-AQ,In Situ Ground-based platforms,[]
176,S-MODE,model output,[]
177,S-MODE,satellite,[Satellites]
183,AMISA,Sea-based Platforms,"[Land-based Platforms, Water-based Platforms]"
188,ASCENDS,Ground-based Platforms,"[Land-based Platforms, Water-based Platforms]"
192,CASIE,In-situ Ground-based Platforms,[]
195,CLPX II,In-situ Ground-based Platforms,[]
196,CLPX II,Model,[Models]
199,CLPX III,In-situ Ground-based Platforms,[]
200,CLPX III,Model,[Models]
204,COMEX,In-situ Ground-based Platforms,[]
206,DEVOTE,In-situ Ground-based Platforms,[]
208,EXPORTS,Remote sensing,[]
209,EXPORTS,In situ,[]
211,High Winds,In-situ,[]
212,High Winds,Remote Sensing,[]
213,HOPE EPOCH,Remote Sensing,[]
214,HOPE EPOCH,In situ,[]
217,JAIVEx,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
220,LMOS,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
228,OWLETS,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
243,PECAN,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
268,AMSR-E Wakasa Bay,Ground-based Platforms,"[Land-based Platforms, Water-based Platforms]"
272,FIRE ACE,In-situ Ground-based Platforms,[]
273,FIRE ACE,Model,[Models]
276,FIRE I - Cirrus,In-situ Ground-based Platforms,[]
279,FIRE I - Marine Stratocumulus,In-situ Ground-based Platforms,[]
281,FIRE II - ASTEX,In-situ Ground-based Platforms,[]
283,FIRE II - ASTEX,In Situ Sea-based Platforms,[Water-based Platforms]
284,FIRE II - ASTEX,balloons/rockets,[]
286,FIRE II - Cirrus,Model,[Models]
288,FIRE II - Cirrus,In situ ground-based platforms,[]
290,FIRE III - Arctic Cloud Experiment,In-situ Ground-based Platforms,[]
291,FIRE III - Arctic Cloud Experiment,In Situ Sea-based Platforms,[Water-based Platforms]
292,FIRE III - Arctic Cloud Experiment,Rockets/Balloons,[]
294,GTE - ABLE 1,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
295,GTE - ABLE 2A/B,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
298,GTE - ABLE 3A/B,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
300,GTE CITE-1A,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
302,GTE CITE-1B,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
304,GTE CITE-1C,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
306,GTE CITE-2,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"
308,GTE CITE-3,ground-based platforms,"[Land-based Platforms, Water-based Platforms]"

In [17]:
errors = validate.foriegn_keys(db, 
                                data_table='campaign_to_gcmd_phenomenas_uuid', 
                                data_index='campaign', 
                                data_column='gcmd_phenomenas_uuid', 
                                foriegn_table='gcmd_phenomena', 
                                foriegn_column='code')
errors

Empty DataFrame
Columns: [campaign, gcmd_phenomenas_uuid, suggestions]
Index: []

In [18]:
errors = validate.foriegn_keys(db, 
                                data_table='campaign_to_repository', 
                                data_index='campaign', 
                                data_column='repository', 
                                foriegn_table='repository', 
                                foriegn_column='short_name')
errors

            campaign repository suggestions
16            BROMEX        NID          []
24              CLPX      NSIDC          []
67            SnowEx      NSIDC          []
80           CAMP2Ex        TBD          []
84          FIREx-AQ        TBD          []
164  GTE - ABLE 2A/B       ADSC      [ASDC]

In [19]:
errors = validate.foriegn_keys(db, 
                                data_table='campaign_to_partner_org', 
                                data_index='campaign', 
                                data_column='partner_org', 
                                foriegn_table='partner_org', 
                                foriegn_column='short_name')
errors

,campaign,partner_org,suggestions
11,ARCTAS,California Air Resources Board,[]
12,ARCTAS,International Polar Year,[]
17,ATTREX,DFG,[]
39,CORAL,NID,[]
40,CPEX,NID,[]
48,FIFE,NAC (Canada),[]
49,FIFE,AAFC (Canada),[]
54,HS3,Environment Canada,[]
61,IPHEx,Duke University,[]
62,IPHEx,NOAA Hydrometeorological Testbed,[]
69,NAAMES,NID,[]
90,SnowEx,NID,[]
98,TRMM-KWAJEX,Joint mission between NASA and the National Sp...,[]
103,CAMP2Ex,PAGASA,[]
104,CAMP2Ex,the Manila Observatory of Ateneo de Manila Uni...,[]
105,CAMP2Ex,and the University of the Philippines,[]
106,CAMP2Ex,Office of Naval Research,[]
108,Delta-X,CRMS,[CRES]
112,S-MODE,Saildrone,[]
115,AJAX,H211 LLC,[]
117,AMISA,UC Boulder,[]
118,AMISA,NSERC University of ND,[]
120,AMISA,Swedish Polar Secretariat,[]
125,CASIE,International Polar Year Program,[]
126,CASIE,BAERI,[]
127,CASIE,CU Boulder,[]
128,CASIE,CSUMB,[]
129,CASIE,BYU,[]
135,COMEX,University of Bremen,[]
136,COMEX,BRI,[]
138,EXPORTS,Oregon State University,[]
139,EXPORTS,,[]
141,High Winds,CFB and the Canadian weather services,[]
144,JAIVEx,UK,[]
166,CAST,United Kingdom,[]
191,AMSR-E Wakasa Bay,JAXA,[]
195,FIRE ACE,ONR,[]
200,FIRE I - Marine Stratocumulus,Colorado State University,[]
205,GTE - ABLE 2A/B,Instituto Nacional de Pesquisas Espaciais (INP...,[]
215,INTEX-B,Mexico,[]
216,INTEX-B,Canada,[]
217,INTEX-B,Germany,[]
228,SMAPVEX12,Canadian Agencies (CSA,[]
229,SMAPVEX12,AAFC,[]
230,SMAPVEX12,EC,[]
231,SMAPVEX12,and NSERC),[NSERC]
239,THORPEX,Yes,[]
240,TRACE-A,Cooperative project between NASA and the Brazi...,[]
241,TRACE-A,involving over 200 scientists from US,[]
242,TRACE-A,Brazil and South Africa.,[]

In [20]:
errors = validate.foriegn_keys(db, 
                                data_table='platform_to_gcmd_platform_uuid', 
                                data_index='platform', 
                                data_column='gcmd_platform_uuid', 
                                foriegn_table='gcmd_platform', 
                                foriegn_column='uuid')
errors

Empty DataFrame
Columns: [platform, gcmd_platform_uuid, suggestions]
Index: []

In [21]:
errors = validate.foriegn_keys(db, 
                                data_table='instrument_to_measurement_keywords_uuid', 
                                data_index='instrument', 
                                data_column='measurement_keywords_uuid', 
                                foriegn_table='gcmd_phenomena', 
                                foriegn_column='code')
errors

   instrument measurement_keywords_uuid               suggestions
86        CPL                      0000  [1000, 2000, 3000, 4000]

In [22]:
errors = validate.foriegn_keys(db, 
                                data_table='instrument_to_gcmd_instrument', 
                                data_index='instrument', 
                                data_column='gcmd_instrument', 
                                foriegn_table='gcmd_instrument', 
                                foriegn_column='uuid')
errors

,instrument,gcmd_instrument,suggestions
6,4-STAR,b0f93e6a-c766-4957-8762-5c7709487459,[]
44,AVIRIS,d67afd03-3b79-419c-9289-5dde713ab904\n57854209...,[]
68,CIP,92f99316-b581-4adb-9980-aeb6bed64eee,[]
82,CPL,6238fe2-9a87-4e32-b866-c4a637094b51,[6238f3e2-9a87-4e32-b866-c4a637094b51]
117,EXRAD,a212d36d-2a4e-473f-b16a-6e2104b9dd8f\nba3de3fc...,[]
152,HSRL-2,abdf08cd-03c5-4497-87a4-65493584e2c7,[]
274,W-Band Radar,a90e-4a70-9bcb-93d106c1583f,[dc5ee11d-a90e-4a70-9bcb-93d106c1583f]

In [23]:
errors = validate.foriegn_keys(db, 
                                data_table='instrument_to_instrument_type', 
                                data_index='instrument', 
                                data_column='instrument_type', 
                                foriegn_table='instrument_type', 
                                foriegn_column='short_name')
errors

,instrument,instrument_type,suggestions
1,2D-C/P,Chemical Meters/Analyzers,[]
41,AVAPS,Profilers/Sounders,[]
79,CPL,LIDAR,[]
136,HAMSR,Spectrometers/Radiometers,[In Situ/Laboratory - Spectrometers/Radiometers]
141,HIRAD,Spectrometers/Radiometers,[In Situ/Laboratory - Spectrometers/Radiometers]
231,S-HIS,interferometer/sounder,[]

In [24]:
errors = validate.foriegn_keys(db, 
                                data_table='instrument_to_geophysical_concept', 
                                data_index='instrument', 
                                data_column='geophysical_concept', 
                                foriegn_table='geophysical_concept', 
                                foriegn_column='short_name')
errors

Empty DataFrame
Columns: [instrument, geophysical_concept, suggestions]
Index: []

In [25]:
errors = validate.foriegn_keys(db, 
                                data_table='instrument_to_repository', 
                                data_index='instrument', 
                                data_column='repository', 
                                foriegn_table='repository', 
                                foriegn_column='short_name')
errors

Empty DataFrame
Columns: [instrument, repository, suggestions]
Index: []

In [26]:
errors = validate.foriegn_keys(db, 
                                data_table='instrument_to_measurement_region', 
                                data_index='instrument', 
                                data_column='measurement_region', 
                                foriegn_table='measurement_region', 
                                foriegn_column='short_name')
errors

    instrument                                 measurement_region suggestions
141      HIRAD  boundary layer? sea surface is what I would ca...          []

In [27]:
errors = validate.foriegn_keys(db, 
                                data_table='deployment_to_geographical_region', 
                                data_index='deployment', 
                                data_column='geographical_region', 
                                foriegn_table='geographical_region', 
                                foriegn_column='short_name')
errors

        deployment geographical_region suggestions
92  ABoVE_dep_2017              Alaska          []
93  ABoVE_dep_2017      western Canada          []
94  ABoVE_dep_2018              Alaska          []
95  ABoVE_dep_2018      western Canada          []
96  ABoVE_dep_2019              Alaska          []
97  ABoVE_dep_2019      western Canada          []
98  CLAMS_dep_2001      Chesapeake Bay          []
99  CLAMS_dep_2001      Atlantic Ocean          []

In [28]:
errors = validate.foriegn_keys(db, 
                                data_table='deployment_to_platform', 
                                data_index='deployment', 
                                data_column='platform', 
                                foriegn_table='platform', 
                                foriegn_column='short_name')
print('\n\ndo I really need to validate this?')
errors

do I really need to validate this?

                deployment          platform suggestions
0             HS3_dep_2012  global hawk AV-1          []
1             HS3_dep_2012              AV-6          []
2             HS3_dep_2013  global hawk AV-1          []
3             HS3_dep_2013              AV-6          []
4             HS3_dep_2014  global hawk AV-6          []
8         OLYMPEX_dep_2016   UND Citation II  [Citation]
23           ATom_dep_2016    NASA DC-8-AFRC          []
24          ATom_dep_2017a    NASA DC-8-AFRC          []
25          ATom_dep_2017b    NASA DC-8-AFRC          []
26           ATom_dep_2018    NASA DC-8-AFRC          []
136   ACT-America_dep_2016            B-2000     [B-200]
138  ACT-America_dep_2017a            B-2000     [B-200]
140  ACT-America_dep_2017b            B-2000     [B-200]
142   ACT-America_dep_2018            B-2000     [B-200]
144   ACT-America_dep_2019            B-2000     [B-200]

In [29]:
errors = validate.foriegn_keys(db, 
                                data_table='deployment', 
                                data_index='short_name', 
                                data_column='foriegn_campaign_short_name', 
                                foriegn_table='campaign', 
                                foriegn_column='short_name')
print('\n\n TODO this better once you have the data')
errors

 TODO this better once you have the data

Empty DataFrame
Columns: [short_name, foriegn_campaign_short_name, suggestions]
Index: []

In [30]:
errors = validate.foriegn_keys(db, 
                                data_table='platform', 
                                data_index='short_name', 
                                data_column='foriegn_aircraft_type', 
                                foriegn_table='aircraft_type', 
                                foriegn_column='short_name')
errors

1 short_name foriegn_aircraft_type suggestions
7        ASO            Prop Plane          []

In [31]:
errors = validate.foriegn_keys(db, 
                                data_table='platform_to_gcmd_platform_uuid', 
                                data_index='platform', 
                                data_column='gcmd_platform_uuid', 
                                foriegn_table='gcmd_platform', 
                                foriegn_column='uuid')
errors

Empty DataFrame
Columns: [platform, gcmd_platform_uuid, suggestions]
Index: []

In [32]:
errors = validate.foriegn_keys(db, 
                                data_table='iopse', 
                                data_index='iopse_id', 
                                data_column='deployment_short_name', 
                                foriegn_table='deployment', 
                                foriegn_column='short_name')
errors

2                     iopse_id deployment_short_name suggestions
6                        iop_1            None Found          []
7                        iop_1            None Found          []
8                        iop_1            None Found          []
9                        iop_1            None Found          []
10                       iop_1            None Found          []
12   Information Not Available            None Found          []
13   Information Not Available            None Found          []
14   Information Not Available            None Found          []
30   Information Not Available            None Found          []
40                       iop_5            None Found          []
58   Information Not Available            None Found          []
68   Information Not Available            None Found          []
69                      iop_16            None Found          []
73   Information Not Available            None Found          []
104  Information Not Available            None Found          []
121  Information Not Available            None Found          []
153                      iop_1            None Found          []
188  Information Not Available            None Found          []

In [33]:
errors = validate.foriegn_keys(db, 
                                data_table='iopse', 
                                data_index='iopse_id', 
                                data_column='event_type', 
                                foriegn_table='deployment', 
                                foriegn_column='short_name')
errors

2   iopse_id event_type suggestions
3      iop_1          Y          []
4      iop_2          Y          []
5      iop_3          Y          []
6      iop_1          N          []
7      iop_1          Y          []
8      iop_1          Y          []
9      iop_1          Y          []
10     iop_1          Y          []
11     iop_1          Y          []
15     iop_1        IOP          []
16     iop_1          Y          []
17     iop_1          Y          []
18     iop_1          Y          []
19     iop_1          Y          []
20     iop_2        IOP          []
21     iop_2          Y          []
22     iop_2          Y          []
23     iop_3          Y          []
24     iop_3          Y          []
25     iop_4        NID          []
26     iop_1        IOP          []
27     iop_1          Y          []
28     iop_1          Y          []
29     iop_1          Y          []
31     iop_1          Y          []
36     iop_1          Y          []
37     iop_2          Y          []
38     iop_3          Y          []
39     iop_4          Y          []
40     iop_5          Y          []
41     iop_6          N          []
42     iop_7          N          []
43     iop_8          N          []
44     iop_9          N          []
45     iop_1        IOP          []
46     iop_1          Y          []
47     iop_1          Y          []
48     iop_1        IOP          []
49     iop_1        IOP          []
50     iop_1          Y          []
51     iop_1          Y          []
52     iop_1          Y          []
53     iop_1          Y          []
54     iop_1          Y          []
55     iop_1          Y          []
56     iop_1          Y          []
57     iop_1          Y          []
59     iop_1        IOP          []
60     iop_2        IOP          []
61     iop_1          Y          []
62     iop_1          Y          []
63     iop_2          Y          []
64     iop_2          Y          []
65     iop_2          Y          []
66     iop_2          Y          []
67     iop_2          Y          []
70     iop_1        IOP          []
71     iop_3        IOP          []
72     iop_4        IOP          []
74     iop_1        NID          []
75     iop_2        NID          []
76     iop_3        NID          []
77     iop_4        NID          []
78     iop_5        NID          []
79     iop_6        NID          []
80     iop_7        NID          []
81     iop_8        NID          []
82     iop_9        NID          []
83    iop_10        NID          []
84    iop_11        NID          []
85    iop_12        NID          []
86    iop_13        NID          []
87    iop_14        NID          []
88    iop_15        NID          []
89    iop_16        NID          []
90    iop_17        NID          []
91    iop_18        NID          []
92    iop_19        NID          []
93    iop_20        NID          []
94    iop_21        NID          []
95    iop_22        NID          []
96    iop_23        NID          []
97    iop_24        NID          []
98    iop_25        NID          []
99    iop_26        NID          []
100   iop_27        NID          []
101   iop_28        NID          []
102   iop_29        NID          []
103   iop_30        NID          []
105   iop_01          N          []
106   iop_01          N          []
107   iop_01          Y          []
108   iop_01          Y          []
109   iop_01          Y          []
110   iop_01          Y          []
111   iop_01          Y          []
112   iop_01          Y          []
113   iop_01          N          []
114   iop_01          N          []
115   iop_01          N          []
116   iop_01          Y          []
117   iop_01          Y          []
118   iop_01          N          []
119   iop_01          N          []
120   iop_01          N          []
122    iop_1        IOP          []
123    iop_1          Y          []
126    iop_1        IOP          []
127    iop_1          Y          []
128    iop_1          Y          []
129    iop_1          Y          []
135    iop_1          Y          []
136    iop_2          Y          []
137    iop_3          Y          []
138    iop_4          Y          []
139    iop_5          Y          []
140    iop_6          Y          []
141    iop_7          Y          []
142    iop_8          Y          []
143    iop_9          Y          []
144   iop_10          Y          []
145   iop_11          Y          []
146   iop_12          Y          []
147   iop_13          Y          []
148   iop_14          Y          []
149    iop_1        IOP          []
150    iop_1          Y          []
151    iop_2        IOP          []
152    iop_2          Y          []
153    iop_1        IOP          []
154    iop_1          Y          []
155    iop_2        IOP          []
156    iop_2          Y          []
157    iop_3        IOP          []
158    iop_1        IOP          []
159    iop_1          Y          []
160    iop_1          Y          []
161    iop_2        IOP          []
162    iop_2          Y          []
163    iop_2          Y          []
164    iop_2          Y          []
165    iop_2          N          []
166    iop_3        IOP          []
167    iop_3          Y          []
168    iop_4        IOP          []
169    iop_1        IOP          []
170    iop_2        IOP          []
171    iop_2          Y          []
172    iop_3        IOP          []
173    iop_3          Y          []
174    iop_4        IOP          []
175    iop_4          Y          []
176    iop_1        IOP          []
177    iop_1          Y          []
178    iop_1          Y          []
179    iop_1        IOP          []
180    iop_1          Y          []
181    iop_2        IOP          []
182    iop_2          Y          []
183    iop_3        IOP          []
184    iop_4        IOP          []
185    iop_5        IOP          []
186    iop_1        IOP          []
187    iop_1          Y          []
189    iop_1        IOP          []
190    iop_1        IOP          []
191    iop_1          Y          []
192    iop_2        IOP          []
193    iop_3        IOP          []
194    iop_4        IOP          []
195    iop_4          Y          []
196    iop_5        IOP          []
197    iop_6        IOP          []
198    iop_6          Y          []
199    iop_6          Y          []
200    iop_6          Y          []
201    iop_1        IOP          []
202    iop_1          Y          []
203    iop_1        IOP          []
204    iop_2        IOP          []
205    iop_3        IOP          []
206    iop_4        IOP          []
207    iop_4          Y          []
208    iop_1        IOP          []
209    iop_1          Y          []
210    iop_2        IOP          []
211    iop_2          Y          []
212    iop_3        IOP          []

### Flight

In [34]:
# flight table, instruments

errors = validate.foriegn_keys(db, data_table='flight', 
                      data_index='foriegn_campaign_short_name', 
                      data_column='instrument', 
                      foriegn_table='instrument', 
                      foriegn_column='short_name')
errors

,foriegn_campaign_short_name,instrument,suggestions
26,IPHEx,2D-C,[2D-C/P]
33,IPHEx,Nevzorov,[Nevzorov probe]
34,IPHEx,King hot wire,[King hot wire probe]
129,SEAC4RS,Dew Point,[]
130,SEAC4RS,LWC/TWC,[]
131,SEAC4RS,Rosemount temperature,[]
132,SEAC4RS,Rosemount icing rod,[]
133,SEAC4RS,AIMMS-20,[]
134,SEAC4RS,NMASS,[MAS]
249,BOREAS,LI6262,[LICOR 6262]
255,BOREAS,LI6262,[LICOR 6262]
283,ACES,Electric Field Mill,[]
284,ACES,EFCS (GSFC and MSFC versions),[]
285,ACES,Gerdien Conductivity Probe,[]
461,CAMEX,2DP,[2D-C/P]
474,CAMEX,Nesorov,[]
485,CAMEX,dropwindsonde,[Dropsonde]
600,Act-America,2-B Tech,[]
604,Act-America,2-B Tech,[]
608,Act-America,2-B Tech,[]
612,Act-America,2-B Tech,[]
616,Act-America,2-B Tech,[]
795,ARESE,SPS2,"[SMPS, SP2, SSP2]"
869,CalWater,dropsondes,[Dropsonde]
878,CalWater,dropsondes,[Dropsonde]
885,SnowEx,Video camera,[]
895,BROMEX,BAT,[]

In [35]:
# Flight table, platforms

errors = validate.foriegn_keys(db, 
                      data_table='flight', 
                      data_index='foriegn_campaign_short_name', 
                      data_column='platform', 
                      foriegn_table='platform', 
                      foriegn_column='short_name')
errors

   foriegn_campaign_short_name         platform suggestions
15                         HS3           WB-57f     [WB-57]
16                         HS3           WB-57f     [WB-57]
19                     OLYMPEX  UND Citation II  [Citation]

In [36]:
errors = validate.foriegn_keys(db, 
                      data_table='flight', 
                      data_index='foriegn_campaign_short_name', 
                      data_column='foriegn_deployment_short_name', 
                      foriegn_table='deployment', 
                      foriegn_column='short_name')
errors

Empty DataFrame
Columns: [foriegn_campaign_short_name, foriegn_deployment_short_name, suggestions]
Index: []

# Dates

In [37]:
for table_name in db.keys():
    # find tables that have date fields
    if len(col_names := [col for col in db[table_name].columns if 'date' in col])>0:
        print(f"{table_name}\n    {', '.join(col_names)}")

campaign
    start_date, end_date
instrument
    deployment_date, decommision_date
deployment
    start_date, end_date
iopse
    start_date, end_date

In [38]:
table_names = ['campaign', 'deployment', 'iopse'] 
for table_name in table_names:
    print(table_name)
    db[table_name]['valid_date']=False
    
    db[table_name]['valid_date'] = db[table_name].apply(lambda row: validate.vali_date(row['start_date'], row['end_date']), axis=1)

campaign
    non date-time detected: 2017-04-26 00:00:00, ongoing
    non date-time detected: 3 week period in june, Information Not Available
    non date-time detected: 2015,  on-going
    non date-time detected: 2016-09-26 00:00:00, ongoing
    non date-time detected: 1905-06-18 00:00:00, Information Not Available
    non date-time detected: 1998, 1998
    non date-time detected: January ?, 2019, December ?, 2023
    non date-time detected: TBD, TBD
    non date-time detected: TBD, TBD
    non date-time detected: TBD, TBD
    non date-time detected: 1905-07-03 00:00:00, ongoing
    non date-time detected: 2007, 2008
    non date-time detected: 2007, 2008
    non date-time detected: Information Not Available, 1984-06-01 00:00:00
    non date-time detected: Information Not Available, 1984-06-01 00:00:00
    non date-time detected: Information Not Available, 1984-06-01 00:00:00
    non date-time detected: Information Not Available, 1983-07-01 00:00:00
    non date-time detected: Information Not Available, 1983-11-01 00:00:00
    non date-time detected: Information Not Available, 1984-04-01 00:00:00
    non date-time detected: Information Not Available, 1986-08-01 00:00:00
    non date-time detected: Information Not Available, September ??, 1989
    non date-time detected: 1905-06-15 00:00:00, Information Not Available
deployment
iopse

In [39]:
table_names = ['instrument'] 
for table_name in table_names:
    
    db[table_name]['valid_date']=False
    db[table_name]['valid_date'] = db[table_name].apply(lambda row: validate.vali_date(row['deployment_date'], row['decommision_date']), axis=1)

    non date-time detected: 1997, 1997-present
    non date-time detected: 2000, Information Not Available
    non date-time detected: 2001, Information Not Available
    non date-time detected: 2010, Information Not Available
    non date-time detected: 1998, Information Not Available

In [40]:
db['campaign'][['short_name','start_date','end_date','valid_date']][db['campaign']['valid_date'].apply(lambda x: not(x))]

1,short_name,start_date,end_date,valid_date
3,ABoVE,2017-04-26 00:00:00,ongoing,False
4,ABLE,Information Not Available,Information Not Available,False
10,AirMISR,Information Not Available,Information Not Available,False
11,AMSR,Information Not Available,Information Not Available,False
23,CITE,Information Not Available,Information Not Available,False
25,CLASIC07,3 week period in june,Information Not Available,False
32,FIRE,Information Not Available,Information Not Available,False
37,HYMEx,Information Not Available,Information Not Available,False
38,IceBridge,Information Not Available,Information Not Available,False
39,ICEPOP,Information Not Available,Information Not Available,False
40,IFLoodS,Information Not Available,Information Not Available,False
41,ImPACT-PM,Information Not Available,Information Not Available,False
42,INTEX,Information Not Available,Information Not Available,False
44,KORUS-AQ,Information Not Available,Information Not Available,False
45,LASE Validation,Information Not Available,Information Not Available,False
46,"LBA-ECO Phase I, II, III",Information Not Available,Information Not Available,False
47,LITE,Information Not Available,Information Not Available,False
48,LPVEx,Information Not Available,Information Not Available,False
49,MC3E,Information Not Available,Information Not Available,False
52,NEAX,Information Not Available,Information Not Available,False
54,OMG,2015,on-going,False
56,OTTER,Information Not Available,Information Not Available,False
57,PAC2001,Information Not Available,Information Not Available,False
58,PARCA,Information Not Available,Information Not Available,False
59,PEM,Information Not Available,Information Not Available,False
60,PODEX,Information Not Available,Information Not Available,False
61,RADEX,Information Not Available,Information Not Available,False
62,SAFARI 2000 Project/S2K,Information Not Available,Information Not Available,False
63,SCAR,Information Not Available,Information Not Available,False
65,SMAPVEX,Information Not Available,Information Not Available,False
66,SMEX,Information Not Available,Information Not Available,False
67,SNF,Information Not Available,Information Not Available,False
68,SnowEx,2016-09-26 00:00:00,ongoing,False
69,SOS,Information Not Available,Information Not Available,False
70,TARFOX,1905-06-18 00:00:00,Information Not Available,False
71,TCSP,Information Not Available,Information Not Available,False
72,TEFLUN,1998,1998,False
74,TOST,Information Not Available,Information Not Available,False
75,TRACE,Information Not Available,Information Not Available,False
76,TRMM-KWAJEX,Information Not Available,Information Not Available,False
77,TRMM-LBA,Information Not Available,Information Not Available,False
78,Information Not Available,Information Not Available,Information Not Available,False
79,Upcoming/ Ongoing Campaigns,Information Not Available,Information Not Available,False
80,ACTIVATE,"January ?, 2019","December ?, 2023",False
82,DCOTSS,TBD,TBD,False
83,Delta-X,TBD,TBD,False
84,ECO-3D,Information Not Available,Information Not Available,False
86,IMPACTS,Information Not Available,Information Not Available,False
87,S-MODE,TBD,TBD,False
88,Information Not Available,Information Not Available,Information Not Available,False
89,Not DAAC Assigned Data - Let Deborah know if ...,Information Not Available,Information Not Available,False
90,AJAX,1905-07-03 00:00:00,ongoing,False
94,ASCENDS,Information Not Available,Information Not Available,False
98,CLPX II,2007,2008,False
99,CLPX III,2007,2008,False
100,COAST,Information Not Available,Information Not Available,False
102,DEVOTE,Information Not Available,Information Not Available,False
103,EXPORTS,Information Not Available,Information Not Available,False
104,FIREChem,Information Not Available,Information Not Available,False
105,High Winds,Information Not Available,Information Not Available,False
106,HOPE EPOCH,Information Not Available,Information Not Available,False
107,HyspIRI,Information Not Available,Information Not Available,False
108,JAIVEx,Information Not Available,Information Not Available,False
109,LISTOS,Information Not Available,Information Not Available,False
110,LMOS,Information Not Available,Information Not Available,False
111,MABEL,Information Not Available,Information Not Available,False
112,MACPEX,Information Not Available,Information Not Available,False
113,MASTER,Information Not Available,Information Not Available,False
114,Methane Sounder,Information Not Available,Information Not Available,False
115,MIZOPEX,Information Not Available,Information Not Available,False
116,NOVICE,Information Not Available,Information Not Available,False
117,OWLETS,Information Not Available,Information Not Available,False
118,PacRim2,Information Not Available,Information Not Available,False
119,Polar Winds,Information Not Available,Information Not Available,False
120,PTOST,Information Not Available,Information Not Available,False
121,SABOR,Information Not Available,Information Not Available,False
122,SHOUT,Information Not Available,Information Not Available,False
123,Suomi-NPP,Information Not Available,Information Not Available,False
124,VIRGAS,Information Not Available,Information Not Available,False
125,WSFM,Information Not Available,Information Not Available,False
126,Information Not Available,Information Not Available,Information Not Available,False
127,Information Not Available,Information Not Available,Information Not Available,False
128,"Questionable whether to include or not - ""edge...",Information Not Available,Information Not Available,False
129,Arctic-COLORS,Information Not Available,Information Not Available,False
131,PECAN,Information Not Available,Information Not Available,False
132,PICARD,Information Not Available,Information Not Available,False
133,PV,Information Not Available,Information Not Available,False
134,Information Not Available,Information Not Available,Information Not Available,False
135,Information Not Available,Information Not Available,Information Not Available,False
136,"Need to combine - These ""campaigns"" may actual...",Information Not Available,Information Not Available,False
152,CARVE-CAL,Information Not Available,Information Not Available,False
153,CARVE-CAN,Information Not Available,Information Not Available,False
154,OIB,Information Not Available,Information Not Available,False
164,GTE - ABLE 1,Information Not Available,1984-06-01 00:00:00,False
165,GTE - ABLE 2A/B,Information Not Available,1984-06-01 00:00:00,False
166,GTE - ABLE 3A/B,Information Not Available,1984-06-01 00:00:00,False
167,GTE CITE-1A,Information Not Available,1983-07-01 00:00:00,False
168,GTE CITE-1B,Information Not Available,1983-11-01 00:00:00,False
169,GTE CITE-1C,Information Not Available,1984-04-01 00:00:00,False
170,GTE CITE-2,Information Not Available,1986-08-01 00:00:00,False
171,GTE CITE-3,Information Not Available,"September ??, 1989",False
172,INTEX-A,Information Not Available,Information Not Available,False
173,INTEX-B,Information Not Available,Information Not Available,False
174,NARSTO ICARTT NEAX 2004,Information Not Available,Information Not Available,False
175,NARSTO PAC2001,Information Not Available,Information Not Available,False
176,NARSTO Southern Oxidant Study,Information Not Available,Information Not Available,False
177,PEM-Tropics A,Information Not Available,Information Not Available,False
178,PEM-Tropics B,Information Not Available,Information Not Available,False
179,PEM-West A,Information Not Available,Information Not Available,False
180,PEM-West B,Information Not Available,Information Not Available,False
181,SCAR-A,1905-06-15 00:00:00,Information Not Available,False
182,SCAR-B,Information Not Available,Information Not Available,False
183,SMAPVEX08,Information Not Available,Information Not Available,False
184,SMAPVEX12,Information Not Available,Information Not Available,False
185,SMAPVEX15,Information Not Available,Information Not Available,False
186,SMAPVEX16,Information Not Available,Information Not Available,False
187,"SMAPVEX12,15,16",Information Not Available,Information Not Available,False
188,SMEX02,Information Not Available,Information Not Available,False
189,SMEX03,Information Not Available,Information Not Available,False
190,SMEX04/NAME,Information Not Available,Information Not Available,False
191,SMEX05/POLEX,Information Not Available,Information Not Available,False
192,THORPEX,Information Not Available,Information Not Available,False
193,TRACE-A,Information Not Available,Information Not Available,False
194,TRACE-P,Information Not Available,Information Not Available,False

# IOPSE

In [41]:
# FILTER 
# TODO: FIX GRIP
db['iopse']=db['iopse'][db['iopse']['iopse_id']!='Information Not Available'][db['iopse']['foriegn_campaign_short_name']!='GRIP'][db['iopse']['foriegn_campaign_short_name']!='ATTREX']

<ipython-input-41-dc67fa5b996a>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  db['iopse']=db['iopse'][db['iopse']['iopse_id']!='Information Not Available'][db['iopse']['foriegn_campaign_short_name']!='GRIP'][db['iopse']['foriegn_campaign_short_name']!='ATTREX']

In [42]:
# split into two tables

db['significant_event'] = db['iopse'][db['iopse']['event_type']=='Y'].copy()
db['iop'] = db['iopse'][db['iopse']['event_type']!='Y'].copy()

In [43]:
# validate that all iops are unique

db['iop']['iop_short_name'][db['iop']['iop_short_name'].duplicated()]

Series([], Name: iop_short_name, dtype: object)

In [44]:
# if sig event has matching iop, link them

# if sig event doesn't have matching iop, delete it so there will be no foriegn key

In [45]:
# tag significant events that have IOPs

db['significant_event']['has_iop'] = db['significant_event']['iop_short_name'].apply(lambda short_name: short_name in list(db['iop']['iop_short_name']))

In [53]:
# # check that all significant events with an iop have an iop

# s_i = set(db['iop']['iop_short_name'])
# s_s = set(has_iop['iop_short_name'])
# [s for s in s_s if s not in s_i]

In [52]:
from datetime import datetime
# sig event start >= iop start

def start_val(sig_row, db):
    large_date = sig_row['start_date']
    small_date = db['iop'][db['iop']['iop_short_name']==sig_row['iop_short_name']]['start_date'].iloc[0]
    val = large_date >= small_date
    return val

def end_val(sig_row, db):
    large_date = sig_row['end_date']
    small_date = db['iop'][db['iop']['iop_short_name']==sig_row['iop_short_name']]['end_date'].iloc[0]
    val = large_date <= small_date
    return val

has_iop = db['significant_event'][db['significant_event']['has_iop']].copy()
val_iop_date_start = has_iop.apply(lambda row: not(start_val(row, db)), axis=1)
val_iop_date_end = has_iop.apply(lambda row: not(end_val(row, db)), axis=1)

In [48]:
# display incorrect start dates
has_iop[val_iop_date_start]

Empty DataFrame
Columns: [iopse_id, event_type, foriegn_campaign_short_name, foriegn_deployment_short_name, start_date, end_date, description, region_description, published_list, reports, reference_file, iop_short_name, deployment_short_name, valid_date, has_iop]
Index: []

In [54]:
# display incorrect end dates
has_iop[val_iop_date_end]

Empty DataFrame
Columns: [iopse_id, event_type, foriegn_campaign_short_name, foriegn_deployment_short_name, start_date, end_date, description, region_description, published_list, reports, reference_file, iop_short_name, deployment_short_name, valid_date, has_iop]
Index: []

## Remap Limited Fields

In [55]:
from ingest import rename_columns

In [57]:
column_mapping = json.load(open('limited_col_mapping.json', 'r'))

In [58]:
# remaps limited field names
ingest_order = [
 'platform_type',
 'aircraft_type',
 'instrument_type',
 'home_base',
 'repository',
 'focus_area',
 'season',
 'measurement_region',
 'geographical_region',
 'geophysical_concept',
 'gcmd_phenomena',
 'gcmd_instrument',
 'gcmd_platform',
 'gcmd_project',
 'partner_org'
]
tables_to_remap = ['platform_type',
 'aircraft_type',
 'instrument_type',
 'home_base',
 'repository',
 'focus_area',
 'season',
 'measurement_region',
 'geographical_region',
 'geophysical_concept',]

for table_name in tables_to_remap:
    db[table_name] = rename_columns(db, table_name, column_mapping)

### Ingest Order

In [59]:
ingest_order = json.load(open('ingest_order.json', 'r'))
ingest_order

['platform_type',
 'aircraft_type',
 'instrument_type',
 'home_base',
 'repository',
 'focus_area',
 'season',
 'measurement_region',
 'geographical_region',
 'geophysical_concept',
 'gcmd_phenomena',
 'gcmd_instrument',
 'gcmd_platform',
 'gcmd_project',
 'partner_org',
 ['instrument',
  'instrument_to_gcmd_instrument',
  'instrument_to_measurement_keywords_uuid',
  'instrument_to_geophysical_concept',
  'instrument_to_repository',
  'instrument_to_measurement_region',
  'instrument_to_instrument_type'],
 ['platform', 'platform_to_gcmd_platform_uuid'],
 'flight',
 ['deployment', 'deployment_to_geographical_region', 'deployment_to_platform'],
 ['campaign',
  'campaign_to_platform_type',
  'campaign_to_focus_area',
  'campaign_to_season',
  'campaign_to_gcmd_phenomenas_uuid',
  'campaign_to_repository',
  'campaign_to_partner_org',
  'campaign_to_gcmd_project']]

### Pickle the Data

In [63]:
import pickle

In [65]:
pickle.dump(db, open('ingested_data','wb'))